.Registration {
  margin-top: 64px;
  width: 40%;
  background-color: white;
  box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.2);

  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding-left: 10px;
}

h2 {
  text-decoration: underline;
}
